.fail-page {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #cc4444;
    background-color: #fae8e8;
    border-radius: 5px;
    width: 300px;
}

.fail-page h1 {
    color: #cc4444;
    font-size: 36px;
    margin: 10px 0;
}

.fail-page p {
    font-size: 18px;
}

.fail-button {
    background-color: #cc4444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.fail-button:hover {
    background-color: #b03a3a;
}